<div id="win" class="modal">
  <div class="modal-content">
    <h4>Whoopee, now you're on the trolley!</h4>
    <p>Can you guess right again?</p>
    <div class="modal-footer">
      <button type="button" class="modal-action modal-close waves-effect waves-green btn">try again</button>
    </div>
  </div>
</div>

<div id="lose" class="modal">
  <div class="modal-content">
    <h4>Whoops!</h4>
    <p>Try again, meow.</p>
    <div class="modal-footer">
      <button type="button" class="modal-action modal-close waves-effect waves-green btn">try again</button>
    </div>
  </div>
</div>
