<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Whoopee, now you're on the trolley!</h4>
    <p>Can you guess right again?</p>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">try again</a>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Whoops!</h4>
    <p>Try again, meow.</p>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">try again</a>
  </div>
</div>