<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/body %>
    <% include ../partials/modal %>
  </body>
  <footer>
    <% include ../partials/footer %>
  </footer>
</html>